body {
  color: #111;
  font-family: 'Roboto', sans-serif;
  margin: 30px;
}

a { color: #111; }
a:hover { color: #0074D9; }

.container { max-width: 700px; }

header {
  font-size: 18px;
  margin-bottom: 40px;
}
header .blog {
  color: #111;
  font-size: 24px;
  text-transform: uppercase;
}
header ul { list-style: none; margin: 0; }
header ul li {
  display: inline;
  padding-right: 10px;
}
header ul li a {
  text-transform: uppercase;
}


.archive h3 { margin: 0; }
.archive time { font-size: 1.5rem; }
.archive hr { margin: 20px 0; }

.license {
  color: #aaa;
  margin-top: 40px;
  max-width: 500px;
  text-transform: uppercase;
}
