<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>rgth</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

  <link rel="stylesheet" href="/theme/milligram.min.css">
  <link rel="stylesheet" href="/theme/style.css">
</head>
<body>
  <div class="container">
    <header>
      <ul>
        <li><a href="/" class="title">rgth.co</a></li>
        {% for page in pages %}
        <li><a href="/{{ page.url }}#page">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </header>
  </div>

  <div class="container">
  {% block content %}
  {% endblock content %}
  </div>

  <script src="/theme/cursor.js"></script>

</body>
</html>
